---
layout: head
html_head_js: ["jquery.particleground.min.js","particle_setting.js",
"typed.min.js","typed_setting.js"]
html_head_css: ["home_page_style.css"]
---


<div>
  <div   id="intro">
    <h1>Keans' Blog!</h1>
    <div class="type-wrap">
            <div id="typed-strings" hidden="true">
                <p>Talk is cheap, let's code!</p>
                <p>You can you up, show me the code!</p>
            </div>
            <span id="typed" style="white-space:pre;"></span>
      </div>
  </div>
</div>
<div class="row">
    <div class="blog-main">
        {% include index_posts.html %} {% include paginator.html %}
    </div>
    <!-- /.blog-main !-->
</div>
<!-- /.row -->

<script type="text/javascript">
    $(document).ready(function() {
        $("div.blog-post").mouseenter(function() {
            $(this).addClass("body_post_hover").mouseleave(function() {
                $(this).removeClass("body_post_hover");
            });
        })
    });
</script>
