---
layout: default
html_tail_js: ["/js/search_blog.js","/js/bootstrap.typeahead.min.js"]
---


<div class="container">
  <div class="row">
    <div class="col-md-offset-1 col-md-8 blog-main">
      <div id="search-div" class="input-group search-tool">
        <span class="input-group-btn">
          <button id="search-btn" class="btn">
            <span class="glyphicon glyphicon-search"></span>
          </button>
        </span>
        <input  id="search-text" type="text" class="form-control search-content" placeholder="Search Blogs...">
      </div>

    <div class="posts">
      {% for post in paginator.posts %}
      <div class="blog-post">
        <a href="{{ site.baseurl }}{{ post.url }}"><h3 class="blog-post-title">
          <span class="glyphicon glyphicon-bookmark span-blank-before"></span>
          {{ post.title }}</h3></a>
          {%include post_info.html%}
          <div class="entry">
            <p> {{ post.excerpt }} </p>
            <p class="text-right"><a href="{{ site.baseurl }}{{ post.url }}" class="label label-default read-more">
              Read More</a>
            </p>
          </div>
      </div>

      {% endfor %}
    </div>

    </div> <!--blogmain -->

      <div class="col-md-3 blog-sidebar">
        <div class="row sidebar-module">
          <ul class="col-md-offset-2 col-md-9 list-group" id="categories-ul">
            <li class="list-group-item list-group-item-gray">
              <strong>
                <span class="glyphicon glyphicon-th-list"></span>
                <span>Categories</span>
              </strong>
            </li>
            {% for category in site.categories %}
            <li class="dropdown" style="list-style:none;">
                <a href="#" class="dropdown-toggle list-group-item" data-toggle="dropdown">
                  {{ category | first }}
                  <span class="badge" > {{ category | last | size }}</span>
                </a>
              <ul class="dropdown-menu">
                {% for post in category.last %}
                  <li style="overflow: hidden;text-overflow: ellipsis;display: inline;">
                  {% assign post_title = post.tile %}
                  {% if post.title_more%}
                    {% assign post_title = post.title_more%}
                  {% endif %}
                    <a href="{{ post.url }}" title="{{ post_title }}">
                    <span>{{ post.title }}&nbsp</span>
                    </a>
                  </li>
                {% endfor %}
              </ul>
            </li>
            {% endfor %}
          </div>

          {% if site.duoshuo %}
          <div class="row sidebar-module">
          <ul class="col-md-offset-2 col-md-9 list-group" >
            <li class="list-group-item list-group-item-gray">
              <strong>
                <span class="glyphicon glyphicon-fire" style="color:red;"></span>
                <span>Hot</span>
              </strong>
            </li>
            {%assign post_counter = 0 %}
            {% for post in site.posts %}

            {% if post_counter >= 6 %}
              {% break %}
            {% endif %}
              <a class="list-group-item" href="{{post.url}}"><small>{{post.title}}</small></a>

            {% assign post_counter = {{post_counter} | plus: 1 }}%}
            {% endfor %}
          <!-- 多说热评文章 start -->
          <!-- 评论太少了，换个方法吧-->
          <!--div style="border: 1px #eee solid; padding-left: 4px;border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;"class="ds-top-threads" data-range="monthly" data-num-items="5">
          </div-->
          <!-- 多说热评文章 end -->
          </ul>
          </div>
          {% endif %}

            {% if site.duoshuo %}
            <div class="row sidebar-module">
            <ul class="col-md-offset-2 col-md-9 list-group" >
              <li class="list-group-item list-group-item-gray">
                <strong>
                  <span class="glyphicon glyphicon-comment"></span>
                  <span>Newly</span>
                </strong>
              </li>
            <!-- 多说最新评论 start -->
            <div style="border: 1px #eee solid; padding-left: 4px;border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;" class="ds-recent-comments" data-num-items="10" data-show-avatars="1" data-show-time="1" data-show-title="1" data-show-admin="1" data-excerpt-length="70"></div>
            <!-- 多说最新评论 end -->
            </ul>
            </div>
            {% endif %}

     </div>
        {% if paginator.total_pages > 1 %}
        <div class="col-md-offset-1 col-md-8" >
          <div class="paginator-wrap">
            <ul class="pagination">
              <!-- Previous -->
              {% if paginator.total_pages > 1 %}
              <li><a href="{{ '/index.html' | prepend: site.baseurl | replace: '//', '/' }}"> << </a></li>
              {% endif %}
              {% if paginator.previous_page %}
              <li><a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//','/' }}"><</a></li>
              {% else %}
              <li class="disabled"><a href="#" ><</a></li>
              {% endif %}

              {% assign lower = paginator.page | minus:2 %}
              {% assign upper = paginator.page | plus:2 %}
              {% if lower < 1 %}
              {% assign lower = 1 %}
              {% endif %}


              {% if upper > paginator.total_pages %}
              {% assign upper = paginator.total_pages %}
              {% endif %}

              {% if paginator.total_pages > 1 %}
              {% for page in (lower..upper) %}
              {% if page == paginator.page %}
              <li class="active"><a href="#" >{{ page }}</a></li>
              {% elsif page == 1 %}
              <li><a href="{{ '/index.html' | prepend: site.baseurl | replace: '//', '/' }}">{{ page }}</a></li>
              {% else %}
              <li><a href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}">{{ page }}</a></li>
              {% endif %}
              {% endfor %}
              {% endif %}
              {% if paginator.next_page %}
              <li><a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">></a></li>
              {% else %}
              <li class = "disabled"><a href="#" >></a></li>
              {% endif %}

              {% if paginator.total_pages > 1 %}
              <li><a href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', paginator.total_pages }}"> >> </a></li>
              {% endif %}
            </ul>
          </div>
        </div>
          {% endif  %}
      </div><!-- /.row -->
    </div> <!-- /container -->

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <!--script src="../../assets/js/ie10-viewport-bug-workaround.js"></script-->

    <script type="text/javascript">
    $(document).ready(function() {
      $("div.blog-post").mouseenter(function() {
        $(this).addClass("body_post_hover").mouseleave(function() {
          $(this).removeClass("body_post_hover");
        });
      })
    });
    </script>
