---
---

//
// IMPORTS
//

@import "reset";
@import "variables";
// Syntax highlighting @import is at the bottom of this file

/**************/
/* BASE RULES */
/**************/

html {
  font-size: 100%;
}
//
body {
	background: $body_bkgrd_color;
  font: 18px/1.4 $helvetica;//18px/1.4 $helvetica;
  color: $body_color;
  background-image: url(/images/bk33.png);
  background-position: 0px 70px;//100% 100%;//-280px -50px;//50% -54px;//left;
  background-repeat: no-repeat;
  //background-attachment: fixed;
  background-size: contain;//cover;//auto;//
}

.container {
  margin: 0 auto;
  max-width: 84%;
  padding: 0 10px;
  width: 100%;
}

hr {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 1px solid $darkGray;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $helveticaNeue;
  //color: $darkerGray;
  //font-weight: bold;

  line-height: 1.7;
  margin: 1em 0 8px;//15px;
  padding: 0;

  @include mobile {
    line-height: 1.4;
  }
}

h1 {
  font-size: 36px;
  a {
    color: inherit;
  }
}

h2 {
  font-size: 30px;
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 22px;
  color: $gray;
}

//**********************************************************************************************************



.blog-post{
  position: relative;
  margin: 15px 0 15px 10px;
  padding-left: 10px;
  padding-bottom: 6px;
  background-color: $side_bkgrd_color;//rgba(255,255,255,0.7);
  border-radius: 10px;
  a{
    font-weight: 400;
    letter-spacing: 1px;
    color: $blue;
    &:hover, &:active {
      color: $pink;
      text-decoration: none;
    }
  }
}

div.blog-post::before {
    content: '';
    position: absolute;//relative;//
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.8);// #111;//rgba(255,255,255,0.8);//#fafcfc;
    border-radius: 10px;//6px;
    -webkit-transition: -webkit-transform .5s;
    transition: transform .5s;
    -webkit-transform: scale3d(.8,0,1);
    transform: scale3d(.8,0,1);
    -webkit-transform-origin: 50% 64.8px;
    -ms-transform-origin: 50% 64.8px;
    transform-origin: 50% 64.8px;
}

div.body_post_hover::before {
    -webkit-transform: scale3d(1,1,1);
    transform: scale3d(1,1,1);
}
.body_post_hover{
  background-color: rgba(0,0,0,0.5);
  margin-left: -20px;

  h1 ,h2, h3{
      font-size: 1.5em;
  }
  p{
    color: white;
  }
  a{
    font-weight: 400;
    letter-spacing: 1px;
    &:hover, &:active {
      color: $pink;
      text-decoration: none;
    }
  }

  transition: all 1s;
  webkit-transition: all 1s;

}

p {
  text-indent: 1em;
  margin: 15px 0px 15px 0.5em;
  font-size: 18px;
  border: 20px;
}
p:first-letter{
  ;//font-size: 40px; float: left; padding-right: 10px; line-height:40px
}
div#toc_node{
  float: right;
  //margin-right: -8%;
  margin-left: 1.5em;
  margin-top: 1em;
  padding-left: 0.5em;
  margin-bottom: 1em;
  border-left: 2px solid $gray;
  position: relative;
  top: 0px;
}

ul#toc_insert{
  margin-top: 0px;
  margin-left: 0px;
  margin-bottom: 0px;
}

p.tags {
  margin: 0 0;
  font-size: 22px;
}
.side-header{
  color: $pink;//#f22430;
  border-bottom: 1px solid;
}
div.side-content {

  //border: $lighterGray 2px solid;
  padding-left: 20px;
  padding-right: 20px;
  background: $side_bkgrd_color;//$lighterGray;
  border-radius: 8px;
  padding-bottom: 5px;
  margin: 5px 0 5px 0;
}

/*定义滚动条高宽及背景 高宽分别对应横竖滚动条的尺寸*/
::-webkit-scrollbar
{
  width: 10px;
  height: 10px;
  background-color: #F5F5F5;
}

/*定义滚动条轨道 内阴影+圆角*/
::-webkit-scrollbar-track
{
  -webkit-box-shadow: inset 0 0 3px rgba(0,0,0,0.3);
  border-radius: 15px;
  background-color: #F5F5F5;
}

/*定义滑块 内阴影+圆角*/
::-webkit-scrollbar-thumb
{
  border-radius: 5px;
  -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,.3);
  background-color: #555;
}
//*********************************************************************************************
a {
  color: $blue;
  text-decoration: none;
	cursor: pointer;
  &:hover, &:active {
    color: $blue;
  }
}

ul, ol {
  margin: 15px 0;
  padding-left: 30px;
}

ul {
  list-style-type: disc;
}

ol {
  list-style-type: decimal;
}

ol ul, ul ol, ul ul, ol ol {
  margin: 0;
}

ul ul, ol ul {
  list-style-type: circle;
}

em, i {
  font-style: italic;
}

strong, b {
  font-weight: bold;
}

img {
  max-width: 100%;
}

// Fixes images in popup boxes from Google Translate
.gmnoprint img {
  max-width: none;
}

.date {
  font-style: italic;
  color: $gray;
}

// Specify the color of the selection
::-moz-selection {
  color: $black;
  background: $lightGray;
}
::selection {
  color: $black;
  background: $lightGray;
}

// Nicolas Gallagher's micro clearfix hack
// http://nicolasgallagher.com/micro-clearfix-hack/
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

/*********************/
/* LAYOUT / SECTIONS */
/*********************/

//
// .masthead
//

.sticky-bar{
  //position:fixed;
  width:100%;
  //min-width: 800px;
 // overflow: auto;
  z-index: 1000;
  top: 0;
}
.wrapper-masthead {
  margin-bottom: 25px;//50px;
  //margin-left: -9%;

  background: #111;//9e9e9e; //#130707;//$lighterGray;rgba(0,0,0,0.88);//
}

.masthead {
  padding-top: 10px;
  padding-bottom: 5px;
  //padding: 10px 0;//20px 0;
  //border-bottom: 1px solid $gray;


  @include mobile {
    text-align: center;
  }
}

.site-avatar {
  float: left;
  width: 70px;
  height: 70px;
  margin-right: 15px;

  @include mobile {
    float: none;
    display: block;
    margin: 0 auto;
  }

  img {
    border-radius: 5px;
  }
}

.site-info {
  float: left;
  //font-weight: bold;
  @include mobile {
    float: none;
    display: block;
    margin: 0 auto;
  }
}

.span_info {
  color: $pink;
  margin: -5px 0 0 0;
  padding: 0;
  letter-spacing: 2px;
  font-weight: 1000;
  font-size: 18px;
}

.post_item{
  display: block;
  padding: 3px 5px;
  clear: both;
}

a.site-name {
  margin: 0;
  color: #fff;//$black;//$darkGray;
  cursor: pointer;
  font-family: $helveticaNeue;// "Calibri Light","Vladimir Script", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 320;
  font-size: 36px;
  letter-spacing: 1px;
  &:hover, &:active {
    color: $pink;
    text-decoration: none;
  }
}

.site-description {
  margin: -5px 0 0 0;
  color: $lightGray;
  font-size: 18px;
  font-family: $helveticaNeue;
  @include mobile {
    margin: 3px 0;
  }
}

nav {
  float: right;
  margin-top: 40px; // @TODO: Vertically middle align
  font-family: $helveticaNeue;
  font-size: 28px;
  font-weight: 450;
  font-weight: bold;

  @include mobile {
    float: none;
    margin-top: 9px;
    display: block;
    font-size: 16px;
  }

  a {
    margin-left: 15px;
    color: $white;//$darkGray;
    text-align: right;
    font-weight: 300;
    letter-spacing: 1px;
    &:hover, &:active {
    color: $pink;
    text-decoration: none;
  }

    @include mobile {
      margin: 0 10px;
      color: $blue;
    }
  }
}

//
// .main
//
// .................
#main {
  margin-top: 30px;
}

.posts > .post {
  padding-bottom: 2em;
  border-bottom: 1px solid $lightGray;
}

.posts > .post:last-child {
  padding-bottom: 1em;
  border-bottom: none;
}

.post {
  blockquote {
    margin: 1.8em .8em;
    border-left: 2px solid $gray;
    padding: 0.1em 1em;
    color: $gray;
    font-size: 15px;
    font-style: italic;
    p{
      text-indent: 0;
    }
    :first-child{
      margin-top: 0px;
    }
    :last-child{
      margin-bottom: 0px;
    }
  }

  .comments {
    margin-top: 10px;
  }

  .read-more {
    text-transform: uppercase;
    font-size: 15px;
  }
}

.wrapper-footer {
  margin-top: 50px;
  //border-top: 1px solid #ddd;
  //border-bottom: 1px solid #ddd;
  background-color: $footer_back_color;
  color: $white;
}

footer {
  padding: 20px 0;
  text-align: center;
}

// Settled on moving the import of syntax highlighting to the bottom of the CSS
// ... Otherwise it really bloats up the top of the CSS file and makes it difficult to find the start
@import "highlights";
@import "svg-icons";
