<div class="post-blog-info">
	<p><small><span class="glyphicon glyphicon-calendar span-blank-before">{{post.date | date: "%m/%d/%Y" }}</span>

		<span class="glyphicon glyphicon-th-list span-blank-before"></span>
		{% for cate in post.categories %}
			<a class="label label-default label-link" href="{{site.baseurl}}/categories/#{{cate | slugify}}"
			style="margin-right:5px;">{{cate}}</a>
		{% endfor %}

		<span class="glyphicon glyphicon-tags span-blank-before"></span>
		{% for tag in post.tags %}
		<a class="label label-default label-link" href="{{site.baseurl}}/tags/#{{tag | slugify}}"
		style="margin-right:5px;">{{tag}}</a>
		{% endfor %}
	</small></p>
</div>
