<div class="post-blog-info">
	<p><small><span class="glyphicon glyphicon-calendar span-blank-before">{{post.date | date: "%m/%d/%Y" }}</span>

		{%if post.categories.size > 0%}
		<span class="glyphicon glyphicon-th-list span-blank-before"></span>
		{% for cate in post.categories %}
			<a class="cate-label" href="{{site.baseurl}}/{{dir}}categories/#{{cate | slugify}}"
			style="margin-right:5px;">{{cate}}</a>
		{% endfor %}
		{%endif%}

		{%if post.tags.size > 0%}
		<span class="glyphicon glyphicon-tags span-blank-before"></span>
		{% for tag in post.tags %}
		<a class="tags-label" href="{{site.baseurl}}/{{dir}}tags/#{{tag | slugify}}"
		style="margin-right:5px;">{{tag}}</a>
		{% endfor %}
		{%endif%}
	</small></p>
</div>
