
//
// VARIABLES
//

// Colors
$blue: #4183C4;

// Grays
$black: #000;
$darkerGray: #222;
$darkGray: #444;
$gray: #666;
$lightGray: #ccc ;//#eee;
$lighterGray: #eee;
$darkWhite: #f5f5f5;
$white: #ffffff;
$pink: #ff6060;
$hilight_back_color: #1d1d1c;//#eee;//
$lineno_color: #ff6060;
$hilight_front_color: #ffffff;
$footer_back_color: #2d2d2d;
$body_bkgrd_color: rgb(219,217,217);//rgb(207,217,234);//#B6A593;//rgba(221,224,229,0.5);//#dadada;//#e9e9e9;//
$body_color: #000;
$side_bkgrd_color: rgba(255,255,255,0.9);//#fff;//

// Font stacks
$helvetica:  'Kaiti SC', Arial, 幼圆, 华文楷体, 楷体, sans-serif, Helvetica, ;
$helveticaNeue: 苹方,  微软雅黑, "Helvetica Neue", Helvetica, Arial, sans-serif;


//$helveticaNeue: 苹方, 微软雅黑, Frutiger,  'Frutiger Linotype', Univers, Calibri, 'Gill Sans', 'Gill Sans MT', 'Myriad Pro', Myriad, 'DejaVu Sans Condensed', 'Liberation Sans', 'Nimbus Sans L', Tahoma, Geneva, 'Helvetica Neue', Helvetica, Arial, sans-serif;
//$helvetica: 'Kaiti SC', 楷体, Helvetica, Arial, sans-serif, Constantia, 'Lucida Bright', Lucidabright, 'Lucida Serif', Lucida, 'DejaVu Serif', 'Bitstream Vera Serif', 'Liberation Serif', Georgia, serif;

//font-family: "TitilliumText25L250wt", "Helvetica Neue", Helvetica, Arial, sans-serif;
$georgia: Georgia, serif;

// Mobile breakpoints
@mixin mobile {
  @media screen and (max-width: 640px) {
    @content;
  }
}