---
layout: page
title: LeetCode Solutions
categories: [题解合集]
tags: [Algorithm, LeetCode, OJ]
excerpt: "I have amost solved all the free preblems. It's an index for all probelems, and I'll update some new solutions timely"
html_head_js: ["/js/jquery.tablesorter.min.js"]
html_tail_js_piece: [ '$(document).ready(function() {',
'$("table").addClass("table table-striped");',
'$("#problem_list").tablesorter();});' ]
permalink: /leetcode/
---

<!--h2 id="blog-head" class="blog-post-title">
  <span class="glyphicon glyphicon-bookmark span-blank-before"></span>
  {{page.title}}
</h2!-->
{%assign post = page%}
{%include post_info.html%}
<p>
  近日闲来无事，基本把LeetCode刷了一遍。打算再闲的时候就写写题解，总结一下。因为题目较多，为了避免Leetcode题解泛滥于本博客，所以只用这一篇博客作为所有题解的入口，作为索引或目录页。
</p>
<h3>以下为刷过的题目列表</h3>
<table id="problem_list" align="center" class="tablesorter">
  <thead>
    <tr>
      <th><a>ID</a></th>
      <th><a>Title</a></th>
      <th><a>Acceptance</a></th>
      <th><a>Difficulty</a></th>
      <th><a>Editorial</a></th>
    </tr>
  </thead>
  <tbody>
    {% for item in site.data.leetcode_data.algorithm %} {% if item.editorial != 'locked' %}
    <tr>
      <td>{{item.id}}</td>
      <td>
        <a href="https://leetcode.com/problems/{{item.url}}/">{{item.title}}</a>
      </td>
      <td>{{item.acceptance}}</td>
      <td>{{item.difficulty}}</td>
      <td>
        {% if item.editorial == true %}
        <span class="span-link">
          <a href="/leetcode/{{item.id}}-{{item.url}}/">查看题解</a>
        </span>
        {% elsif item.editorial == false %}
        不日更新
        {% endif %}
      </td>
    </tr>
    {% endif %} {% endfor%}
  </tbody>
</table>
