---
layout: default
---
<style type="text/css">
/*custom Styles */
/*div.highlighter-rouge::before{
  content: "+";
  font-size: 1em;
  text-align: center;
  color: black;
  background: #eee;
  border: 2px #444 solid;
  width:40px;
  height:40px;*/
  /*padding-right: 1em;
  /padding-top: -1em;*/
/*}*/

ul.nav-tabs{
  min-width: 160px;
  margin-top: 20px;
  border-radius: 4px;
  border: 1px solid #ddd;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.067);
}
ul.nav-tabs li{
  margin: 0;
  border-top: 1px solid #ddd;
}
ul.nav-tabs li:first-child{
  border-top: none;
}
ul.nav-tabs li a{
  margin: 0;
  padding: 8px 16px;
  border-radius: 0;
}
ul.nav-tabs li.active a, ul.nav-tabs li.active a:hover{
  background: #222;
  border: 1px solid #222;
}

#myNav li a:hover{
  color: #ff5050;
}
#myNav{
  /*z-index: 1000;*/
}
#myNav li a{
  color: #222;/*rgba(128, 128, 128,0.7);;*/
}
#myNav li.active a{
  color: #fff;
}
ul.nav-tabs li:first-child a{
  border-radius: 4px 4px 0 0;
}
ul.nav-tabs li:last-child a{
  border-radius: 0 0 4px 4px;
}
ul.nav-tabs.affix{
  top: 60px; /* Set the top position of pinned element */
}
ul.nav-tabs.affix-top{
  top: 60px; /* Set the top position of pinned element */
}
</style>

<div class="container" id="blog-body" >
  <div class="row">
    <div class="col-md-offset-1 col-md-8 blog-main col-sm-8 col-sm-offset-1 col-xs-9">
      <div class="blog-page">
        <div>
          <h2 id="blog-head" class="blog-post-title">
            <span class="glyphicon glyphicon-bookmark span-blank-before"></span>
            {{page.title}}
          </h2>
          <div class="post-blog-info">
            <p><small><span class="glyphicon glyphicon-calendar span-blank-before">{{page.date | date: "%m/%d/%Y" }}</span>
              <span class="glyphicon glyphicon-th-list span-blank-before"></span>
              {% for cate in page.categories %}
              <span class="label label-default">{{cate}}</span>
              {% endfor %}
              <span class="glyphicon glyphicon-tags span-blank-before"></span>
              {% for tag in page.tags%}
              <span class="label label-default">{{tag}}</span>
              {% endfor %}
            </small></p>
          </div>
          <div class="entry">
            {{content}}
          </div>
          <div class="related-wrap ">
          {%for text in site.related_posts%}
          <span class="span-link"><a href="{{text.url}}"> {{text.title}}</a></span>
          {% endfor %}
          </div>
        </div>
      </div>
      <div class="comments-wrap">
        {%if site.duoshuo and site.disqus %}
        <button onclick="change_comment()" value = "disqus" id="comment-btn"
        type="button" class="btn btn-default">使用中文评论</button>
      {% endif %}
      <div >
      {% include duoshuo.html %}
      {% include disqus.html %}
      </div>
      </div>
    </div>
    <div class="col-md-3 blog-sidebar col-sm-3 col-xs-3">
      <div class="row sidebar-module " >
        <div class="col-md-offset-2 col-md-9 col-sm-offset-1 col-sm-10  col-xs-9">
          <div id="scroll_spy" class="affix" >
            <ul id="li-blog-head"> <li class="active"><a href="#blog-head"> {{page.title}} </a></li></ul>
            <ul id="myNav" class="nav nav-tabs nav-stacked " >
              <ul class="nav nav-tabs nav-stacked"   >
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
  <script type="text/javascript">
  function change_comment(){
    if($("#comment-btn").attr("value") == "duoshuo"){
      $("#comment-btn").attr("value","disqus")
      $("#comment-btn").text("使用中文评论")
      $('#duoshuo-comments').hide();
      $('#disqus-comments').show();

    }
    else {
      $("#comment-btn").attr("value","duoshuo")
      $("#comment-btn").text("Comment in Eglish");
      $('#disqus-comments').hide();
      $('#duoshuo-comments').show();
    }
  }
  $(document).ready(function(){
    if(Math.random() < 0.3)
    {
      $('#duoshuo-comments').hide();
      $('#comment-btn').text("使用中文评论")
      .attr("value","disqus");
    }
    else {
      $('#disqus-comments').hide();
      $('#comment-btn').text("Comment in English")
      .attr("value","duoshuo");
    }

    var toc = $("ul#toc_of_keans_blog");
    var newtoc = $("#myNav")
    var old_li = $("#li-blog-head");
    //toc.prepend(old_li.html());
    //newtoc.html(old_li.html())
    newtoc.html(toc.html());
    newtoc.css("id","scroll_spy")
    //newtoc.css("class","nav nav-sidebar")
    toc.remove();
    old_li.remove();
    $("img").addClass("img-responsive");
    $("table").addClass("table  table-hover");//table-striped
    $("#imbody").attr("data-spy","scroll").attr("data-target","#scroll_spy");
    //$(".container").css("max-width","100%");
  });
  //$('#scroll_spy').affix();
  $('#scroll_spy').affix({
    offset: {
      top: 60, bottom: 100/*function () {
        return (this.bottom =
        $('.footer-wrap').outerHeight(true))
      }*/
    }
  })

  //$(document).ready(function(){

    //$("#idx").click(function() {
      //alert("shit");
      //alert($("#myScrollspy").scrollTop()+'px shit');
      //$("#myScrollspy").scrollTop(60);//+=200;

      //alert($("div").scrollTop())+=60;
  //  });
  //});
  </script>
